.background {
  background: black;
}
.flex-grid {
  height: 100%;
  max-width: 70%;
  max-width: 100%;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.wrap-cover {
  flex: 1;
  position: relative;
}
.image {
  width: 100%;
  display: block;
}
h2 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  font-size: 1.5em;
  padding: 3em 0;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(210, 122, 36, 1));
  transition: all 0.5s;
}
.wrap-cover:hover h2 {
  opacity: 1;
}
